body {
    height: 100vh;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
   width: auto;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
}

.header {
    /* border: #e5e7eb 2px solid; */
    display: flex;
    justify-content: space-between; /* Separate left and right sections */
    height: 74px;
    padding-left: 20px;
    /* width: 100%; */
    background-color: #1f2937;
    color: #e5e7eb;
}

.left, .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right{

    gap: 20px;
}
ul, li, a {
    display: inline;
    text-decoration: none;
    color: #e5e7eb;
    list-style-type: none;
    
}

.part1{
display: flex;
flex-direction: column;
padding-left: 60px;
border: #e5e7eb 2px solid;
width: fit-content;
}

button{
height: 30px;
width: 100px;

}
.imgPri {
 

    border: #e5e7eb 2px solid;
}
img{
   
    width: 500px;
    height: 300px;
}
#celtoButton{
border: #3882f6 2px solid;
background-color: #3882f6;
border-radius: 8px;
color: white;
font-weight: 700;

}

.content {
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
    height: auto;
    gap: 80px;
    /* padding: 60px; */
    padding-top: 20px;
    padding-bottom: 60px;
    color: #e5e7eb;
    background-color: #1f2937;
    /* border: #e5e7eb 2px solid; */
}

.info {
    padding: 20px;
    
    text-align: center;
    

  
}

.box {
    height: 100px;
    width: 100px;
    border: #3882f6 4px solid;
    border-radius: 20px;

}

.box-container {
    display: flex;
    flex-direction: column;
    
    
}
.boxes {
    display: flex;
    
    
    pad: 20px;
    gap: 50px;
    /* border: #e5e7eb 2px solid; */
    flex-direction: row;
    justify-content: center;
}

.insp {
    background-color: #e5e7eb;
    /* width: 100%; */
    height: 300px;
    padding: 100px;
    text-align: center;
    
}

.ad{
display: flex;
height: 600px;
flex-direction: row;
justify-content: center;
align-items: center;


}
.adCont{
    display: flex;
    flex-direction: row;
   padding: 20px;
   gap: 80px;
   height: 60px;
    border: #3882f6 5px solid;
 
    width: 55%;
    margin: 20px;
    border-radius: 12px;
    background-color: #3882f6;
color: #e5e7eb;

}
.ad-text{
    border: #1f2937 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
width: 60%;
font-size: 24px;

}
.ad-button{
display: flex;
flex-direction: row;
width: fit-content;
align-self: center;
justify-content: center ;

/* border: black 3px solid; */
}
#adButton{
border: white 2px solid;
color:white;
border-radius: 8px;
background-color: #3882f6;
align-items: center;
justify-content: center;
    display: flex;
   
    
}

.footer {
text-align: center;
background-color: #1f2937;
color: #e5e7eb;

}
